*{
	margin: 0;
	padding: 0;
	background: #232427;
	color: gray;

}

html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif; background-color: #232427;}


html{

    scroll-behavior: smooth;
}

.nav_top{
	background: #232427;
	width: 100%;
	height: 50px;	
}
.nav_top a{
	float: left;
	text-decoration: none;
	padding: 5px;
	margin-top: 10px;
	margin-left: 90px;
	border: 1px solid #232427;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);	
}

.nav_top a:hover{
	box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.2),
				inset -5px -5px 15px rgba(255,255,255,0.1),
				5px 5px 15px rgba(0,0,0,0.3),
				-5px -5px 15px rgba(255,255,255,0.1);


				-webkit-transform: scale(1.02);
-ms-transform: scale(1.02);
transform: scale(1.05);
transition: 1s ease;
			
}


.container{
	display: flex;
	height: 100%;
	align-content: center;
	justify-content: center;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
	
}

.container .content_div{
	align-items: center;
	margin: 5px;
	width: 100%;
	height: 100%;
}

.container .left_20{
	margin-left: 5px;
	width: 40%;
}


.container .center_60{
	background: #232427;
	margin-left: 10px;
	margin-right: 10px;
}


.container .right_20{
	margin-right: 5px;
	width: 30%;
}


.profile_info{
	display: block;
	position: relative;
	box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.2),
				inset -5px -5px 15px rgba(255,255,255,0.1),
				5px 5px 15px rgba(0,0,0,0.3),
				-5px -5px 15px rgba(255,255,255,0.1);		
	margin: 5px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 15px;
}

.profile_info:hover{
	-webkit-transform: scale(1.2);
-ms-transform: scale(1.02);
transform: scale(1.05);
transition: 1s ease;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0,0.9);
}


.profile_info p{
	text-align: center;
	font-size: 20px;
}

.profile_info .info{
	text-align: center;
	font-size: 17px;
}


.profile_info img{
	border-radius:50%;
	height: 200px;
	width: 210px;
	border: 2px solid #232427;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
	display: block;
	 margin-left: auto;
  	margin-right: auto;  
}


.about_us{
	background: #232427;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
		
  transition: 0.5s;
	margin: 5px;
	margin-bottom: 20px;
	border-radius: 15px;
}


.about_us:hover{
	box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.2),
				inset -5px -5px 15px rgba(255,255,255,0.1),
				5px 5px 15px rgba(0,0,0,0.3),
				-5px -5px 15px rgba(255,255,255,0.1);
}



.another_det{
	background: #232427;
	background-color: rgb(249, 249, 243);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	margin: 5px;
	margin-bottom: 20px;
}

.another_det:hover{
	border-radius: 5%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.experience{
	background: #232427;
	box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.2),
				inset -5px -5px 15px rgba(255,255,255,0.1),
				5px 5px 15px rgba(0,0,0,0.3),
				-5px -5px 15px rgba(255,255,255,0.1);	
  transition: 0.3s;
  border-radius: 15px;
	margin: 5px;
	padding: 10px;
}



.education{
	background: #232427;
	box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.2),
				inset -5px -5px 15px rgba(255,255,255,0.1),
				5px 5px 15px rgba(0,0,0,0.3),
				-5px -5px 15px rgba(255,255,255,0.1);
  	transition: 0.3s;
	margin: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
}


.project_category{
	box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.2),
				inset -5px -5px 15px rgba(255,255,255,0.1),
				5px 5px 15px rgba(0,0,0,0.3),
				-5px -5px 15px rgba(255,255,255,0.1);
  
	margin: 5px;
	margin-bottom: 20px;
	margin-right: 10px;
	padding: 10px;
}

.project_category:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}


.profile_skill{
	display: block;	
	margin: 5px;
	margin-bottom: 20px;
	padding: 20px;	
  transition: 0.5s;
}


.profile_skill #skill{
	background: #232427;
	margin: 5px;
	padding: 10px;
	transition: 0.5s;
	border: 2px solid #1e1f23;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.profile_skill #skill:hover{
		box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.2),
				inset -5px -5px 15px rgba(255,255,255,0.1),
				5px 5px 15px rgba(0,0,0,0.3),
				-5px -5px 15px rgba(255,255,255,0.1);
				transform: translateX(40px);
	
}

.project_category h4{
	background:#232427 ;
	padding: 5px;
}

.project_category #skill{
	background: #232427;
	margin: 5px;
	padding: 10px;
	transition: 0.5s;
	border: 2px solid #1e1f23;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.project_category #skill:hover{
		box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.2),
				inset -5px -5px 15px rgba(255,255,255,0.1),
				5px 5px 15px rgba(0,0,0,0.3),
				-5px -5px 15px rgba(255,255,255,0.1);
				transform: translateX(-40px);
	
}


.profile_info .contact{
	padding: 5px;
	font-size: 15px;
	text-align: left;
}

.about_us p{
	font-size: 20px;
	padding: 20px;
}


.experience #e1{
	font-size: 20px;
	padding: 20px;
}


.experience .exp p{
	font-size: 20px;
	margin-left: 20px;
}

.exp{
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}


.exp_in{	
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  	transition: 0.3s;
	width: 90%;
	display: block;	
	margin: 5px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	margin-bottom: 20px;
	border-radius: 15px;
}

.exp_in:hover{
	box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.2),
				inset -5px -5px 15px rgba(255,255,255,0.1),
				5px 5px 15px rgba(0,0,0,0.3),
				-5px -5px 15px rgba(255,255,255,0.1);
	-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;

}

.education .exp p{
	font-size: 20px;
	margin-left: 20px;
}


.education #e1{
	font-size: 20px;
	padding: 20px;
}


.project_category p{
	padding: 10px;
}

.profile_info .profiled{	
	position: relative;
	background: #2a2b2f;
	border: 2px solid #1e1f23;	
	border-radius: 15px;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
	margin: 5px;
	margin-bottom: 20px;
	padding: 10px;
	transition: 0.5s;
	
}

.profile_info .profiled:hover{
	transform: translateX(30px);
	box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}


.universal_deg{
	background: #2a2b2f;
	border: 1px solid #1e1f23;	
	border-radius: 15px;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
	margin: 5px;
	margin-bottom: 20px;
	padding: 10px;
	transition: 0.5s;

}

.universal_deg:hover{	
	transform: translateX(30px);
	box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);

}

.profile_info_bg{
	display: block;	
	margin: 5px;
	margin-bottom: 20px;
	padding: 10px;
	background: #232427;
}

.footer{
	background-color: #232427;    
    width: 100%;
    height: 40px;
}













function nameIntro() {
			var fName = document.getElementById("fname").value;
			var lname = document.getElementById("lname").value;

			var paraRef = document.getElementById('showName');
			paraRef.innerHTML += "Your Full Name is : " fname+ " " + lname;

		}


		First Name : <input type="text" name="" id="fname">
		Last Name : <input type="text" name="" id="lname">
		<input type="button" name="bt2" value="click" onclick="nameIntro()"><br>
		<p id="showName"> </p>	<br>